<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tanya...</h1>
    <h3>Tanya loves {{name}}</h3>
    {% for o in objects%}

    <p>Name : {{o.name}}</p>
    <p>Color : {{o.color}}</p>
    <form action="{{ url_for('delete', id=o['id']) }}" method="post">
        <input type="submit" value="Delete">
      </form>

    {%endfor%}
</body>
</html>